<br>

<fieldset>
  <% if @training.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @training.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
  <%= nested_form_for([@training], :html => { :class => :form }) do |f| -%>
  
    <br>
    <!-- Por enquanto -->
    <table>
      <tr>
        <td><h2>Modelo de ficha: <%= @training.model_workout_sheet.name %></h2></td>
      </tr>
      <% @training.model_workout_sheet.physical_categories.each_with_index do |physical_category, i| %>
        <%#= render partial: "physical_category", collection: @model_workout_sheet.physical_categories %>
        <%= render physical_category %>
      <% end %>
    </table>
    
    
    
    <br>
    <br>
    <div class="form-actions-white">
      <% if @training.id.nil? %>
      <%= f.submit 'Alterar', :name => 'action_button', :value => "Próximo >>"%>
      <% else %>
      <%= f.submit 'Alterar', :name => 'action_button', :value => "Alterar"%>
      <% end %>
      ou 
      <%= link_to "Cancelar", workout_sheet_path(@training.workout_sheet), :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos." %>
    </div>
    
  <% end %>
</fieldset>
