<script type="text/javascript">
  function refreshField(field, field2, event){
    changedValue = field2.value;
    document.getElementById(field).value = changedValue;
    // var changedValue = document.getElementById('value').value
    
  }
</script>

<br>
<br>
<fieldset>
  <% if @training.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @training.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
<%= form_for @training, url: workout_sheet_training_path(@training.workout_sheet, @training), method: "post" do |f| %>
  <%= hidden_field_tag 'workout_sheet_id', @training.workout_sheet.id %>
  <%= f.label 'Tipo:' %>
  <%= f.text_field :training_type, :maxlength => "2", :value => @training.training_type, :disabled => @disabled, :onchange => "refreshField('training_type_hidden',this, event)"  %>
  <%= hidden_field_tag 'training[training_type]', @training.training_type, {:id => 'training_type_hidden'} %>
  <br />
  <br>
  <%= link_to "Usar um perfil de treino" %>
  <br>
    <!-- Por enquanto -->
    <table>
      <tr>
        <td><h2>Modelo de ficha: <%= @training.workout_sheet.model_workout_sheet.name %></h2></td>
      </tr>
      <% @training.workout_sheet.model_workout_sheet.physical_categories.each_with_index do |physical_category, i| %>
        <%#= render partial: "physical_category", collection: @model_workout_sheet.physical_categories %>
        <%= render physical_category %>
      <% end %>
    </table>
    
    <div>
      <% if @training.id.nil? %>
      <%= submit_tag "Criar treino", :name => 'action_button', remote: true %>
      <% else %>
      <%= submit_tag "Alterar treino", :name => 'action_button' %>
      <% end %>
       
      <%= link_to "Cancelar", workout_sheet_path(@workout_sheet), :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos." %>
    </div>
      
<% end %>

</fieldset>
