<h1>Ficha de Treino</h1>



<br />
<table>
  <tbody>
    <tr>
      <td><strong>Aluno:</strong> <%= @training.workout_sheet.student.code + " - " + @training.workout_sheet.student.name %></td>
    </tr>
    <tr>
      <td><strong>Tipo:</strong> <%= @training.training_type %></td>
    </tr>
    <tr>
      <td><strong>Data de vencimento:</strong> <%= @training.workout_sheet.expiration_date.blank? ? "" : l(@training.workout_sheet.expiration_date, :format => :sample) %></td>
    </tr>
    <tr>
      <td><strong>Instrutor:</strong> <%= @training.workout_sheet.instructor.name %></td>
    </tr>
    <tr>
      <td><strong>Objetivo:</strong> <%= @training.workout_sheet.training_goal.blank? ? "Não especificado" : @training.workout_sheet.training_goal.denomination %></td>
    </tr>
    <tr>
      <td><%= link_to 'Cadastrar como Perfil', new_copy_profile_training_path(@training, :training_goal_id => @training.workout_sheet.training_goal.id, :training_copy => "true") %></td>
    </tr>
    <tr>
      <td>
        <% if !@training.workouts.empty? %>
        <table width="100%">
          <caption>Ficha</caption>
          <% @training.group_by_physical.each_key do |physical_category| %>
            <tr>
              <td><strong><%= physical_category.name %></strong></td>
              <th style="text-align: center">Séries</th>
              <th style="text-align: center">Repetições</th>
              <th style="text-align: center">Duração</th>
              <th style="text-align: center">Carga</th>
            </tr>
            <% @training.group_by_physical[physical_category].each do |workout| %>
            <tr>
              <td>
                <%= workout.description %>
              </td>
              <% @training_workout = @training.get_training_workout_by_workout_id(workout.id) %>
              <td style="text-align: center"><%= @training_workout.series.blank? ? "-" : @training_workout.series %></td>
              <td style="text-align: center"><%= @training_workout.repetitions.blank? ? "-" : @training_workout.repetitions %></td>
              <td style="text-align: center"><%= @training_workout.duration.blank? ? "-" : @training_workout.duration %></td>
              <td style="text-align: center"><%= @training_workout.load.blank? ? "-" : @training_workout.load %></td>
            </tr>
            <% end %>
          <% end %>
        </table>
        <% else %>
          Não cadastrou exercícios para esta ficha.
        <% end %>
    </tr>
  </tbody>
</table>
<br />

<div>
  <%= link_to "Voltar", workout_sheet_path(@training.workout_sheet), :class => 'btn btn-default'  %>
  <%= link_to "Alterar", edit_workout_sheet_training_path(@training.workout_sheet, @training), :class => 'btn btn-info' %>
  <%= link_to "Remover", workout_sheet_training_path(@training.workout_sheet,@training), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este registro?")}", :class => 'btn btn-danger' %>
</div>
