<h1>Editar os exercícios da ficha</h1>

<%= form_for [@training], url: workout_sheet_training_path, method: "patch" do |f| %>

  <%= f.fields_for :training_workouts do |fb| %>
    <strong><%= fb.object.workout.description %> (<%= fb.object.workout.physical_category.name %>)</strong><br>
    
    <%= fb.label "Séries:", t("activerecord.attributes.training_workout.series", :default => "Séries:") %>
    <%= fb.text_field :series, :class => 'text_field input-xxlarge', :size => '6', :maxlength => '4' %>
    
    <%= fb.label "Repetições:", t("activerecord.attributes.training_workout.repetitions", :default => "Repetições:") %>
    <%= fb.text_field :repetitions, :class => 'text_field input-xxlarge', :size => '6', :maxlength => '4' %>
    
    <%= fb.label "Duração:", t("activerecord.attributes.training_workout.duration", :default => "Duração:") %>
    <%= fb.text_field :duration, :class => 'text_field input-xxlarge', :size => '6', :maxlength => '4' %>
    
    <%= fb.label "Carga:", t("activerecord.attributes.training_workout.load", :default => "Carga:") %>
    <%= fb.text_field :load, :class => 'text_field input-xxlarge', :size => '6', :maxlength => '4' %>
    <br>
    
  <% end %>
  <br>
  <%= link_to "<< Voltar", workout_sheet_path(@training.workout_sheet) %>
  <%= f.submit 'Confirmar'%>
<% end %>
