<h2>Todos Registros</h2>


<%= link_to 'Novo Registro', new_entry_record_path %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="rotulo">Hora de Entrada</th>
      <th class="rotulo" style="text-align: center; width: 20%">Hora de Saida</th>
      <th class="rotulo" style="text-align: center; width: 20%">Tipo</th>
      <th class="rotulo" style="text-align: center; width: 20%">Funcionário</th>
      <th class="rotulo"></th>
    </tr>    
  </thead>
  <tbody>
    <% if !@entry_records.empty? %>
      <% @entry_records.each do |entry_record| %>
        <tr>
          <td><%= entry_record.entryTime %></td>
          <td style="text-align: center;"><%= entry_record.exitTime %></td>
          <td style="text-align: center;"><%= Person.find(entry_record.individual_id).type %></td>
          <td style="text-align: center;"><%= Person.find(entry_record.individual_id).name %></td>
          <td style="text-align: center; width: 20%">
            <%= link_to(entry_record_path(entry_record), :class => "link-icon", :title => "Visualizar", :alt => "Visualizar") do %>
               Visualizar
              <% end %> |
              <%= link_to(edit_entry_record_path(entry_record), :class => "link-icon", :title => "Alterar") do %>
               Editar
              <% end %> |
            <%= link_to(entry_record_path(entry_record), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este imóvel?")}", :class => "link-icon", :title => "Remover" ) do %>
             Deletar
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
    <tr>
        <td colspan="4" style="text-align: center">
          <font class="text-error" >Não há Registro cadastrado.</font>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
