<% if @entry_record.errors.any? %>
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">
		×
	</button>
	<% @entry_record.errors.full_messages.each do |msg| %>
	<%= msg %>
	<% end %>
</div>
<% end %>

<% title " - Registros de Entrada" %>
<div class="header">
	Registros de Entrada
	<hr class="hr-header">
	<div class="subheader">
		Novo Registro
	</div>
</div>

<%= render 'form' %>

<hr>
<h4>Confirmação de dados</h4>

<% if !@entry_record_now.nil? %>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th class=" text-center">Nome</th>
	      <th class=" text-center">Tipo</th>
	      <th class=" text-center">Código</th>
	      <th class=" text-center">Hora de Entrada</th>
	      <th class=" text-center">Hora de Saída</th>
	  </thead>
	  <tbody>
        <tr>
          <td class="text-center"><strong><%= @entry_record_now.individual.name %></strong></td>     
          <td class="text-center"><%= @entry_record_now.individual.type %></td>     
          <td class="text-center"><%= @entry_record_now.individual.code %></td>
          <td class="text-center"><%= l(@entry_record_now.entry_time, :format => :full) %></td>
          <td class="text-center"><%= l(@entry_record_now.exit_time, :format => :full) if !@entry_record_now.exit_time.blank? %></td>
        </tr>
	  </tbody>
	</table>
	<% if @entry_record_now.individual.my_type_is? :student %>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th class=" text-center">Modalidade</th>
	      <th class=" text-center">Dia de Vencimento</th>
	      <th class=" text-center">Situação</th>
	  </thead>
	  <tbody>
	  	<% @entry_record_now.individual.enrollments.each do |enrollment| %>
		  	<tr>
	          <td class="text-center"><%= enrollment.modality.name %></td>     
	          <td class="text-center"><%= enrollment.expiration_day %></td>    
	          <td class="text-center">
	          <% payment = enrollment.expired? %>
	          <%= link_to "Ok", payment_path(payment) if !payment.blank? %>
				<% if payment.blank? %>
					<% if enrollment.start_date.month == Date.today.month %>
						<b style="color: green"> Aguardando pagamento </b>
					<% elsif enrollment.expiration_day < Date.today.mday %>
						<b style="color: red"> Vencida </b>
					<% else %>
						<b> Aguardando pagamento </b>
					<% end %>
				<% end %>
	          </td>
	        </tr>
        <%end%>
	  </tbody>
	</table>
	<%end%>
<% end %>
<hr>
<%= link_to 'Listar Registros', entry_records_path %>
