<h2>Registrar Entrada</h2>

<%= render 'form' %>

<p class="notice"><%= notice %></p>
<hr>
<% if !@entry_record_now.nil? %>
 	<strong><%= @entry_record_now.individual.name %></strong> &nbsp;
 	
 	- &nbsp; <strong><%= @entry_record_now.individual.type %></strong>
 	
 	<br />
 	
 	Matricula: <%= @entry_record_now.individual.registration_code.code %></strong>
 	
 	<br />	
 	
 	Hora de entrada: &nbsp; <%= @entry_record_now.entry_time.strftime("%c") %> 
<% end %>
<hr>
<li><%= link_to 'Listar Registros', entry_records_path %></li>