<h2>Registrar Entrada</h2>

<%= render 'form' %>

<hr>
<strong>Último registro de entrada</strong><br/>
<% if !@entry_record_now.nil? %>
 	<%= Person.find(@entry_record_now.individual_id).name %> &nbsp;-&nbsp; <%= t("Person.find(@entry_record_now.individual_id).type" )%>
 	
 	<br/>
 	
 	Matricula: <%= Person.find(@entry_record_now.individual_id).registration_code.code %></strong>
 	
 	<br/>
 	
 	Hora de entrada: &nbsp; <%= @entry_record_now.entry_time.strftime("%c") %> 
<% end %>