<h1>Turmas de <%=@student.name%> </h1>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover dark table-condensed text-center">
    <thead>
      <tr>
        <th>Modalidade</th>
        <th>Data de Início</th>
        <th>Horário</th>
        <th>Professor</th>
        <th>Frequência</th>
      </tr>
    </thead>
    <tbody>
      <% if !@class_gyms.empty? %>
        <% @class_gyms.each do |class_gym| %>
          <tr>
            <td><%= class_gym.modality.name%> </td>
            <td><%= class_gym.start_date.blank? ? "-" : l(class_gym.start_date, :format => :date) %></td>
            <td>
                <% class_gym.schedules. each do |schedule| %>
                  <%= Date::DAYNAMES[schedule.week_day][0] %> &nbsp; 
                <% end %>
            </td>
            <td><%= class_gym.instructor.blank? ? "Não informado" : class_gym.instructor.name %></td>
            <td><%= @student.attendance(class_gym) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>Não há turmas cadastradas até esta data.</tr>
      <% end %>   
    </tbody>
  </table>
</div>

<h2> Frequência total <%= Date.today.year %> </h2>

<%= content_tag :div, "", id: "geral", data: {records: @graph_year_attendance  }  %>

<div>
  <%= link_to "Voltar", student_home_path(@student), :class => 'btn btn-default'  %>
</div>