<h1> <%= @student.name %> </h1>

<p> <%=link_to "Turmas", student_classes_path(@student)%></p>
<p> <%=link_to "Editar Perfil", student_edit_path(@student)%></p>
<p> <%=link_to "Pagamentos", student_payments_path(@student)%></p>
<p> <%=link_to "Ficha de treino", student_workout_sheet_path(@student)%></p>

<p> Existem <b> 10 </b> pessoas treinando no momento. </p>
<p> A academia está <b> 30% </b> lotada. </p>
<p> <b> 50% </b> das máquinas estão sendo utilizadas. </p>
<p> Media de homens treinando: <b> 30% </b> </p>
<p> Media de mulheres treinando: <b> 70% </b> </p>
