<br>
<fiedset>
  <% if @employee.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @employee.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  
  <% end %>
  
<%= form_for(@employee, :html => { :class => :form }) do |f| -%>
  
  <%= f.label 'Nome' %>
  <%= f.text_field :name, :maxlength => "80" %>
  
  <br>
  <%= f.fields_for :registration_code do |fa| %>
    <%= fa.label 'Matrícula' %>
    <%= fa.text_field :code, :maxlength => "40" %>
  <% end %>
  
  
  <br>
  <%= f.label 'CPF' %>
  <%= f.text_field :cpf, :maxlength => "40" %>
  
  <br>
  <%= f.label 'E-mail' %>
  <%= f.text_field :email, :maxlength => "40" %>
  
  <br>
  <%= f.label 'Telefone' %>
  <%= f.text_field :phone1, :maxlength => "40" %>
  
  <br>
  <%= f.radio_button :gender, 'F', :checked => true %> 
  <%= label :gender_F, 'Feminino' %>
  <%= f.radio_button :gender, 'M' %>
  <%= label :gender_M, 'Masculino' %>
  
  <br>
  <%= select("employee", "type_employee_id", TypeEmployee.all.collect {|p| [ p.name, p.id ] }, {include_blank: '-- Selecione o tipo de empregado --'}) %>

  <br>
	
  <%= f.fields_for :user do |fb| %>


  	<div><%= fb.label :password %><br />
  	<%= fb.password_field :password %></div>

  	<div><%= fb.label :password_confirmation %><br />
  	<%= fb.password_field :password_confirmation %></div>
  	
  	<div>
	  <%= fb.label "Permissões" %> <br />
  	<% Role.all.each do |role| %>
      <%= fb.check_box(:role_ids, { multiple: true }, role.id, nil) %>
  	  <%= role.name%> <br />
  	<% end %>
  	</div>
  	
  <% end %>
  
  
  
<br>  
  <div class="form-actions-white">
    <!-- <%= f.submit %> -->
    <% if @employee.id.nil? %>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <% else %>
    <button class="btn btn-info" type="submit">Alterar</button>
    <% end %>
    ou 
    <%= link_to "Cancelar", employees_path, data: { confirm: 'Deseja cancelar a operação? Todos os dados serão perdidos.' } %>
  </div>
<% end %>
</fiedset>