<h2>Funcionários cadastrados</h2>


<%= link_to 'Novo Funcionário', new_employee_path %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="" style="text-align: left">Nome</th>
      <th class="" style="text-align: right">Código</th>
      <th class="" style="text-align: right">CPF</th>
      <th class="" style="text-align: center;">Telefone</th>
      <th class="" style="text-align: center; width: 20%">E-mail</th>
      <th class="" style="text-align: center;">Sexo</th>
      <th class="" style="text-align: left">Tipo</th>
      <th class=""></th> 
    </tr>    
  </thead>
  <tbody>
    <% if !@employees.empty? %>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td style="text-align: right"><%= employee.code.nil? ? " - " : employee.code %></td>
          <td style="text-align: right"><%= employee.cpf.nil? ? " - " : employee.cpf %></td>
          <td style="text-align: center;"><%= employee.phone1 %></td>
          <td style="text-align: center;"><%= employee.email %></td>
          <td style="text-align: center;"><%= employee.gender == 'F' ? "Feminino" : "Masculino" %></td>
          <td style="text-align: right"><%= employee.type_employee.nil? ? " - " : employee.type_employee.name %></td>
          <td style="text-align: center; width: 20%">
            <%= link_to(employee_path(employee), :class => "link-icon", :title => "Detalhar", :alt => "Detalhar") do %>
               Detalhar
            <% end %> |
            <%= link_to(edit_employee_path(employee), :class => "link-icon", :title => "Alterar") do %>
               Editar
            <% end %> |
            <%= link_to(employee_path(employee), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este registro?")}", :class => "link-icon", :title => "Remover" ) do %>
             Remover
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
    <tr>
        <td colspan="4" style="text-align: center">
          <font class="text-error" >Não há funcionários cadastrados.</font>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
