<h2>Detalhar Funcionário</h2>

<table>
  <caption></caption>
  <tbody>
    <tr>
      <td><strong>Nome:</strong> <%= @employee.name %></td>
    </tr>
    <tr>
      <td><strong>CPF:</strong> <%= @employee.cpf %></td>
    </tr>
    <tr>
      <td><strong>Telefone:</strong> <%= @employee.phone1 %></td>
    </tr>
    <tr>
      <td><strong>E-mail:</strong> <%= @employee.email %></td>
    </tr>
    <tr>
      <td><strong>Código:</strong> <%= @employee.enrollment %></td>
    </tr>
    <tr>
      <td><strong>Sexo:</strong> <%= @employee.gender == 'F' ? "Feminino" : "Masculino" %></td>
    </tr>
  </tbody>
</table>
<br>

<div>
  <%= link_to "Voltar", employees_path, :class => 'btn btn-default'  %>
  <%= link_to "Alterar", edit_employee_path(@employee), :class => 'btn btn-info' %>
  <%= link_to "Remover", employee_path(@employee), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este registro ?")}", :class => 'btn btn-danger' %>
</div>

