<br>

<fieldset>
  <% if @class_gym.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @class_gym.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
  <%= form_for([@class_gym], :html => { :class => :form }) do |f| -%>
    
    <%= f.label 'Modalidade', :class => "control-label" %>
    <%= select("class_gym", "modality_id", Modality.all.collect {|p| [ p.name, p.id ] }, {include_blank: '-- Selecione a modalidade --'}, {class: "span4", onchange: "atualizaForm()", id:"idModality"}) %>
    
    <br>
    <%= f.label :start_date, t("activerecord.attributes.class_gym.start_date", :default => "Data de Início"), :class => 'control-label' %>
    <%= f.text_field :start_date, :class => 'text_field', :onkeyup => "maskIt(this,event,'##/##/####')", :value => l(Date.today, :format => :sample), :maxlength => "10" %>
    
    <br>
    <%= f.label 'Horário', :class => "control-label" %>
    <%= f.text_field :schedule, :class => "input-xlarge", :onkeyup => "toUppercase(this);", :maxlength => "100" %>
    
    <br>
    <%= f.label 'Capacidade', :class => "control-label" %>
    <%= f.text_field :capacity, :class => "input-xlarge", :onkeyup => "toUppercase(this);", :maxlength => "6" %>
    
    <br>
    <%= f.label 'Professor', :class => "control-label" %>
    <%= select("class_gym", "instructor_id", Instructor.all.collect {|p| [ p.name, p.id ] }, {include_blank: '-- Selecione o professor --'}, {class: "span4", onchange: "atualizaForm()", id:"idInstructor"}) %>
    
    <br />
    
    <% if !@class_gym.id.nil? %>
      <h3>Alunos matriculados</h3>
    <% end %>
    
    <br>
    <br>
    <div class="form-actions-white">
      <% if @class_gym.id.nil? %>
      <button class="btn btn-primary" type="submit">Cadastrar</button>
      <% else %>
      <button class="btn btn-info" type="submit">Alterar</button>
      <% end %>
      ou 
      <%= link_to "Cancelar", class_gyms_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos." %>
    </div>
    
  <% end %>
</fieldset>
