<script>
  $('.multi-field-wrapper').each(function() {
      var $wrapper = $('.multi-fields', this);
      $("#add-field", $(this)).click(function(e) {
          $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
      });
      $('.multi-field #remove-field', $wrapper).click(function() {
          if ($('.multi-field', $wrapper).length > 1)
              $(this).parent('.multi-field').remove();
      });
  });
</script>
<br>

<fieldset>
  <%= form_for([@class_gym], :html => { :class => :form }) do |f| -%>
    
    <div class="row">
      <div class="form-group col-xs-4 col-sm-5 col-md-3">
        <%= f.label 'Modalidade'%>
        <%= select("class_gym", "modality_id", Modality.all.collect {|p| [ p.name, p.id ] }, {include_blank: '-- Selecione a modalidade --'}, {:class => "form-control"}) %>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col-xs-4 col-sm-5 col-md-3">
        <%= f.label 'Data de Início' %>
        <%= f.text_field :start_date, :class => 'form-control', :onkeyup => "maskIt(this,event,'##/##/####')", :value => l(Date.today, :format => :date), :maxlength => "10" %>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col-xs-4 col-sm-5 col-md-3">
        <%= f.label 'Horário'%>
        <%= f.text_field :schedule, :class => "form-control", :onkeyup => "toUppercase(this);", :maxlength => "100" %>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col-xs-4 col-sm-5 col-md-3">
        <%= f.label 'Capacidade'%>
        <%= f.text_field :capacity, :class => "form-control input-mini", :onkeyup => "toUppercase(this);", :maxlength => "6" %>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col-xs-3 col-sm-5 col-md-3">
        <%= f.label 'Professor(es)' %>
      </div>
    </div>
    <div class="multi-field-wrapper">
      <div class="multi-fields">
        <div class="multi-field">
          <div class="row">
            <div class="form-group col-xs-3 col-sm-5 col-md-3">
              <%= select_tag "class_gym[instructor_ids][]", options_from_collection_for_select(Employee.where(type_employee_id: TypeEmployee::TEACHER), :id, :name), {prompt: '-- Selecione o professor --', class: 'form-control' } %>
            </div>
            <div class="form-group col-xs-6">
              <button id="remove-field" type="button" class="btn btn-default">Remover</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-3">
          <button type="button" class="btn btn-default" id="add-field">Adicionar mais</button>
        </div>
      </div>
    </div>
    
    <br />
    
    <% if !@class_gym.id.nil? %>
      <h3>Alunos matriculados</h3>
    <% end %>
    
    <br>
    <div>
      <% if @class_gym.id.nil? %>
      <button class="btn btn-primary" type="submit">Cadastrar</button>
      <% else %>
      <button class="btn btn-info" type="submit">Alterar</button>
      <% end %>
      <%= link_to "Cancelar", class_gyms_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos.", :class => 'btn btn-default' %>
    </div>
    
  <% end %>
</fieldset>
