<script>
  $('.multi-field-wrapper').each(function() {
      var $wrapper = $('.multi-fields', this);
      $(".add-field", $(this)).click(function(e) {
          $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
      });
      $('.multi-field .remove-field', $wrapper).click(function() {
          if ($('.multi-field', $wrapper).length > 1)
              $(this).parent('.multi-field').remove();
      });
  });
</script>
<br>

<fieldset>
  <%= nested_form_for([@class_gym], :html => { :class => :form }) do |f| -%>
    
    <%= f.label 'Modalidade', :class => "control-label" %>
    <%= select("class_gym", "modality_id", Modality.all.collect {|p| [ p.name, p.id ] }, {include_blank: '-- Selecione a modalidade --'}) %>
    
    <br>
    <%= f.label 'Data de Início', :class => 'control-label' %>
    <%= f.text_field :start_date, :class => 'text_field', :onkeyup => "maskIt(this,event,'##/##/####')", :value => l(Date.today, :format => :date), :maxlength => "10" %>
    
    <br>
    <%= f.label 'Horário', :class => "control-label" %>
    <%= f.text_field :schedule, :class => "input-xlarge", :onkeyup => "toUppercase(this);", :maxlength => "100" %>
    
    <br>
    <%= f.label 'Capacidade', :class => "control-label" %>
    <%= f.text_field :capacity, :class => "input-xlarge", :onkeyup => "toUppercase(this);", :maxlength => "6" %>
    
    <br>

    <%= f.label 'Professor', :class => "control-label" %>
      <div class="multi-field-wrapper">
        <div class="multi-fields">
          <div class="multi-field">
            <%= select_tag "class_gym[instructor_ids][]", options_from_collection_for_select(Employee.where(type_employee_id: TypeEmployee::TEACHER), :id, :name), prompt: '-- Selecione o professor --' %>      
            <button type="button" class="remove-field">Remover</button>
          </div>
        </div>
      <button type="button" class="add-field">Adicionar mais um professor</button>
    </div>


    <br />
    
    <% if !@class_gym.id.nil? %>
      <h3>Alunos matriculados</h3>
    <% end %>
    
    <br>
    <br>
    <div>
      <% if @class_gym.id.nil? %>
      <button class="btn btn-primary" type="submit">Cadastrar</button>
      <% else %>
      <button class="btn btn-info" type="submit">Alterar</button>
      <% end %>
      <%= link_to "Cancelar", class_gyms_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos.", :class => 'btn btn-default' %>
    </div>
    
  <% end %>
</fieldset>
