Confirm
<br>
<br>

<%= form_tag({controller: "class_gyms", action: "finish_class", remote:true}, :method => 'post', :html => { :class => :form, :id => "form" }) do |f| -%>
  <table>
    <tr>
      <th style="text-align: right;">Turma:</th>
      <td><%= @class_gym.schedule %></td>
    </tr>
    <tr>
      <th style="text-align: right;">Instrutor:</th>
      <td><%= @class_gym.instructor.name %></td>
    </tr>
    <tr>
      <th style="text-align: right;">Capacidade:</th>
      <td><%= @class_gym.capacity %></td>
    </tr>
    <tr>
      <td colspan="2">
        <table>
          <caption>Alunos matriculados nesta turma</caption>
          <thead>
            <tr>
              <th style="text-align: right">Código</th>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            <% if !@class_gym.students.empty? %>
              <% @class_gym.students.each do |student| %>
                <tr>
                  <td style="text-align: right"><%= student.registration_code.code %></td>
                  <td><%= student.name %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
  <br />
  <button class="btn btn-danger" type="submit" name="botao_excluir">Fechar turma</button>
<% end %>



