<h2>Visualização</h2>

<table>
  <caption></caption>
  <tbody>
    <tr>
      <td><strong>Modalidade:</strong> <%= @class_gym.modality.name %></td>
    </tr>
    <tr>
      <td><strong>Horário:</strong> <%= @class_gym.schedule %></td>
    </tr>
    <tr>
      <td><strong>Professor:</strong> <%= @class_gym.instructor.blank? ? "Não atribuído" : @class_gym.instructor.name %></td>
    </tr>
    <tr>
      <td><strong>Alunos matriculados:</strong> <%= @class_gym.students.size %></td>
    </tr>
    <tr>
      <td><strong>Capacidade:</strong> <%= @class_gym.capacity %></td>
    </tr>
  </tbody>
</table>
<br>

<br>
<table width="140px">
  <caption>Alunos - Opções</caption>
  <tr>
    <td>
      <strong>
        - <%= link_to "Frequência", student_attendance_class_gym_path if !@class_gym.students.empty? %> <%= @class_gym.students.empty? ? "Frequência" : "" %> 
      </strong>
    </td>
  </tr>
  <tr>
    <td><strong>- Outra</strong></td>
  </tr>
</table>

<br>
<br>
<div class="form-actions-white">
  <%= link_to "Voltar", class_gyms_path, :class => 'btn'  %>
  <%= link_to "Alterar", edit_class_gym_path(@class_gym), :class => 'btn btn-info' %>
  <%= link_to "Remover", class_gym_path(@class_gym), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover esse corretor ?")}", :class => 'btn' %>
</div>