<% title " - Detalhar Turma" %>
<h2>Detalhar Turma</h2>

<table class="table table-40 table-bordered table-condensed">
  <tbody>
    <tr>
      <td><strong>Modalidade:</strong></td>
      <td><%= @class_gym.modality.name %></td>
    </tr>
    <tr>
      <td><strong>Horário:</strong></td>
      <td><%= @class_gym.schedule %></td>
    </tr>
    <tr>
      <td><strong>Professor:</strong></td>
      <td><%= @class_gym.instructor.blank? ? "Não atribuído" : @class_gym.instructor.name %></td>
    </tr>
    <tr>
      <td><strong>Alunos matriculados:</strong></td>
      <td class="text-left"><%= @class_gym.students.size %></td>
    </tr>
    <tr>
      <td><strong>Capacidade:</strong></td>
      <td><%= @class_gym.capacity %></td>
    </tr>
  </tbody>
</table>

<br>
<div>
  <%= link_to "Voltar", class_gyms_path, :class => 'btn btn-default'  %>
  <%= link_to "Alterar", edit_class_gym_path(@class_gym), :class => 'btn btn-info' %>
  <%= link_to "Remover", class_gym_path(@class_gym), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este registro ?")}", :class => 'btn btn-danger' %>
</div>

<br>
<table>
  <tr>
    <td>
      <strong>
        - <%= link_to "Frequência", student_attendance_class_gym_path if !@class_gym.students.empty? %> <%= @class_gym.students.empty? ? "Frequência" : "" %> 
      </strong>
    </td>
  </tr>
  <tr>
    <td><strong>- Outra</strong></td>
  </tr>
</table>