<h1>Editing equipmet</h1>

<br>
<fiedset>
  <% if @equipment.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @equipment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
<%= form_for(@equipment, url: equipment_path)  do |f| %>
  
  
  <%= f.label 'Nome'%>
  <%= f.text_field :description, :class => "form-control", :onkeyup => "toUppercase(this);" %>
  
  
  <div><%= f.label(:modality_id, "Modalidade") %> <br />
  <% modalities_array = Modality.all.map { |modality| [modality.name, modality.id] } %>
  <%= f.select(:modality_id, options_for_select(modalities_array))  %> </div>
  

<br>  
  <div>
    <!-- <%= f.submit %> -->
    <% if @equipment.id.nil? %>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <% else %>
    <button class="btn btn-info" type="submit">Alterar</button>
    <% end %>
     
    <%= link_to "Cancelar", equipments_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos.", :class => 'btn btn-default' %>
  </div>
<% end %>
</fiedset>

<%= link_to 'Show', @equipment %> |
<%= link_to 'Back', equipments_path %>
