<h2>Detalhar Equipamento</h2>

<table>
  <caption></caption>
  <tbody>
    <tr>
      <td><strong>Nome:</strong> <%= @equipment.description %></td>
    </tr>
    <tr>
      <td><strong>Quantidade</strong> <%= @equipment.quantity %></td>
    </tr>
    <tr>
      <td><strong>Modalidade</strong> <%= @equipment.modality.name if !@equipment.modality.nil? %></td>
    </tr>
  </tbody>
</table>
<br>

<div>
  <%= link_to "Voltar", equipments_path, :class => 'btn btn-default'  %>
  <%= link_to "Alterar", edit_equipment_path(@equipment), :class => 'btn btn-info' %>
  <%= link_to "Remover", equipment_path(@equipment), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover esse equipamento?")}", :class => 'btn btn-danger' %>
</div>

