<fiedset>
<% if @student.errors.any? %>
<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">
		×
	</button>
	<ul>
		<% @student.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<%#= nested_form_for(@student, :html => { :class => 'col-md-6'}) do |f| -%>
<%= nested_form_for(@student) do |f| -%>

	<div class="row">
		<div class="form-group col-xs-8 col-sm-10 col-md-6">
			<%= f.label 'Nome'%>
			<%= f.text_field :name, :class => "form-control", :maxlength => "80" %>
		</div>		
	</div>
	<div class="row">
		<div class="form-group col-xs-4 col-sm-5 col-md-3">
			<%= f.label 'CPF'%>
			<%= f.text_field :cpf, :class => "form-control", :maxlength => "80" %>
		</div>
		<div class="form-group col-xs-4 col-sm-5 col-md-3">
			<%= f.label 'Telefone'%>
			<%= f.text_field :phone1, :class => "form-control", :maxlength => "40" %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-8 col-sm-10 col-md-6">
			<%= f.label 'E-mail'%>
			<%= f.text_field :email, :class => "form-control", :maxlength => "40", :type =>'email'%>
		</div>	
	</div>
	<div class="row">
		<div class="form-group col-xs-8 col-sm-10 col-md-6">
			<%= f.label 'Código de Registro'%>
			<%= f.text_field :code, :class => "form-control", :maxlength => "20" %>
		</div>
	</div>

<%= f.fields_for :user do |fb| %>

	<div class="row">
		<div class="form-group col-xs-4 col-sm-5 col-md-3">
			<%= fb.label 'Senha' %>
			<%= fb.password_field :password, :class => "form-control" %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-4 col-sm-5 col-md-3">
			<%= fb.label 'Confirmação de senha' %>
			<%= fb.password_field :password_confirmation, :class => "form-control" %>
		</div>
	</div>

<% end %>

<br><!-- criar classe e acrescentar margem pra substituir o <br> -->

<div class="form-buttons">
	<% if @student.id.nil? %>
	<button class="btn btn-primary" type="submit">
		Cadastrar
	</button>
	<% else %>
	<button class="btn btn-info" type="submit">
		Salvar
	</button>
	<% end %>
	<%= link_to "Cancelar", students_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos.", :class => 'btn btn-default' %>
</div>
<% end %>
