<h2>Alunos cadastrados</h2>


<%= link_to 'Novo Aluno', new_student_path %>


<%= search_form_for @search do |f| %>
  <%= f.label :registration_code_code_cont %>
  <%= f.text_field :registration_code_code_cont %>
  <%= f.label :enrollments_modality_name_cont %>
  <%= f.text_field :enrollments_modality_name_cont %>
  <%= f.label "Alunos Ativos:" %>
  <%= f.check_box :enrollments_active_true %>
  <%= f.label "Alunos Inativos:" %>
  <%= f.check_box :enrollments_active_false %>
  <%= f.submit %>
<% end %>


<table>
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Matrícula</th>
      <th>Modalidades</th>
      <th>Ativo</th>
      <th>c</th>
      <th></th>
    </tr>    
  </thead>
  <tbody>
    <% if !@students.empty? %>
      <% @students.each_with_index do |student, i| %>
        <tr>
          <td style="text-align: center; width: 4%"><%= i+1 %></td>
          <td><%= student.name %></td>
          <td style="text-align: center;"><%= student.email %></td>
          <td style="text-align: center;"><%= student.registration_code.code %></td>
          <td> 
            <table>
              <% student.enrollments.each do |enrollment| %> 
              <tr><td><%= enrollment.modality.name %> </td></tr> 
              <% end %>  
            </table>
          </td>
           <td> 
            <table>
              <% student.enrollments.each do |enrollment| %> 
              <tr><td><%= enrollment.active %> </td></tr> 
              <% end %>  
            </table>
          </td>
          <td style="text-align: center">
            <%= link_to 'Cadastrar Ficha de Treino', new_workout_sheet_path(:student_id => student.id) if student.enrollment_in_bodybuilding? %>
          </td>
          <td style="text-align: center; width: 20%">
            <%= link_to(student_path(student), :class => "link-icon", :title => "Visualizar", :alt => "Visualizar") do %>
               Visualizar
              <% end %> |
              <%= link_to(edit_student_path(student), :class => "link-icon", :title => "Alterar") do %>
               Editar
              <% end %> |
            <%= link_to(student_path(student), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este aluno?")}", :class => "link-icon", :title => "Remover" ) do %>
             Deletar
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
    <tr>
        <td colspan="4" style="text-align: center">
          <font class="text-error" >Não há alunos cadastrados.</font>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
