<h1>Visualização</h1>

<table>
  <caption></caption>
  <tbody>
    <tr>
      <td><strong>Nome:</strong> <%= @student.name %></td>
    </tr>
    <tr>
      <td><strong>CPF:</strong> <%= @student.cpf %></td>
    </tr>
    <tr>
      <td><strong>Telefone:</strong> <%= @student.phone1 %></td>
    </tr>
    <tr>
      <td><strong>E-mail:</strong> <%= @student.email %></td>
    </tr>
    <tr>
      <td><strong>Matrícula:</strong> <%= @student.registration_code.code %></td>
    </tr>
  </tbody>
</table>
<br>
<div class="form-actions-white">
  <%= link_to "Voltar", students_path, :class => 'btn'  %>
  <%= link_to "Alterar", edit_student_path(@student), :class => 'btn btn-info' %>
  <%= link_to "Remover", student_path(@student), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover esse aluno?")}", :class => 'btn' %>
</div>
