<h1>Visualização</h1>

<table>
  <caption></caption>
  <tbody>
    <tr>
      <td><strong>Nome:</strong> <%= @instructor.name %></td>
    </tr>
    <tr>
      <td><strong>CPF:</strong> <%= @instructor.cpf %></td>
    </tr>
    <tr>
      <td><strong>Telefone:</strong> <%= @instructor.phone1 %></td>
    </tr>
    <tr>
      <td><strong>E-mail:</strong> <%= @instructor.email %></td>
    </tr>
    <tr>
      <td><strong>Matrícula:</strong> <%= @instructor.registration_code.code %></td>
    </tr>
    <tr>
      <td><strong>Sexo:</strong> <%= @instructor.gender == 'F' ? "Feminino" : "Masculino" %></td>
    </tr>
  </tbody>
</table>
<br>

<div class="form-actions-white">
  <%= link_to "Voltar", instructors_path, :class => 'btn'  %>
  <%= link_to "Alterar", edit_instructor_path(@instructor), :class => 'btn btn-info' %>
  <%= link_to "Remover", instructor_path(@instructor), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover esse instrutor?")}", :class => 'btn' %>
</div>

