<h1>Pagina principal</h1>

<br>
<%= link_to 'Mensalidades em atraso', enrollments_path %> (<%= @size_expired_payments %>)
<!-- <%= @size_expired_payments %> -->
<br>

<br>

<ul>
  <li><%= link_to 'Professores', instructors_path %></li>
  <li><%= link_to 'Novo Professor', new_instructor_path %></li>
  <li><%#= link_to 'Novo Professor', login_url(TypeEmployee::TEACHER) %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Alunos', students_path %></li>
  <li><%= link_to 'Novo Aluno', new_student_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Funcionários', employees_path %></li>
  <li><%= link_to 'Novo Funcionário', new_employee_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Turmas', class_gyms_path %></li>
  <li><%= link_to 'Nova Turma', new_class_gym_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Modalidades', modalities_path %></li>
  <li><%= link_to 'Nova Modalidade', new_modality_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Listar Registros', entry_records_path %></li>
  <li><%= link_to 'Novo Registro', new_entry_record_path %></li>
</ul>


