<h1>Pagina principal</h1>

<br>

<%= link_to 'Teste (Alerta de vencimento)', payments_path %><br>
<%= link_to 'Mensalidades em atraso (Alerta de vencimento)', enrollments_path %>
<br>

<br>

<ul>
  <li><%= link_to 'Alunos', students_path %></li>
  <li><%= link_to 'Novo Aluno', new_student_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Funcionários', employees_path %></li>
  <li><%= link_to 'Novo Funcionário', new_employee_path %></li>
</ul>

<br>




