<h1>Pagina principal</h1>

<br>
<%= link_to 'Mensalidades em atraso', enrollments_path %> (<%= @size_expired_payments %>)<br>
<%= link_to 'Fazer Matrícula', new_enrollment_path %>
<!-- <%= @size_expired_payments %> -->
<br>

<br>

<ul>
  <li><%= link_to 'Professores', instructors_path %></li>
  <li><%= link_to 'Novo Professor', new_instructor_path %></li>
  <li><%#= link_to 'Novo Professor', login_url(TypeEmployee::TEACHER) %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Alunos', students_path %></li>
  <li><%= link_to 'Novo Aluno', new_student_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Funcionários', employees_path %></li>
  <li><%= link_to 'Novo Funcionário', new_employee_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Turmas', class_gyms_path %></li>
  <li><%= link_to 'Nova Turma', new_class_gym_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Modalidades', modalities_path %></li>
  <li><%= link_to 'Nova Modalidade', new_modality_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Listar Registros', entry_records_path %></li>
  <li><%= link_to 'Novo Registro', new_entry_record_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Listar Equipamentos', equipments_path %></li>
  <li><%= link_to 'Novo Equipamento', new_equipment_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Matriculas', enrollments_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Listar Categorias Física', physical_categories_path %></li>
  <li><%= link_to 'Nova Categoria Física', new_physical_category_path %></li>
</ul>

<ul>
  <li><%= link_to 'Elaborar ficha de treino', new_training_path %></li>
  <li><%= link_to 'Fichas de treino cadastradas', trainings_path %></li>
</ul>

<br>

<ul>
  <li><%= link_to 'Listar Modelo de Ficha de Exercícios', model_workout_sheets_path %></li>
  <li><%= link_to 'Novo Modelo de Ficha de Exercícios', new_model_workout_sheet_path %></li>
</ul>