<br>
<fieldset>
  <% if @modality.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @modality.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
  <%= form_for(@modality, :html => { :class => :form }) do |f| -%>
    <%= f.label 'Nome'%>
    <%= f.text_field :name, :class => "form-control", :onkeyup => "toUppercase(this);", :maxlength => "80" %>
    
    <br>
    <div>
      <!-- <%= f.submit %> -->
      <% if @modality.id.nil? %>
      <button class="btn btn-primary" type="submit">Cadastrar</button>
      <% else %>
      <button class="btn btn-info" type="submit">Alterar</button>
      <% end %>
       
      <%= link_to "Cancelar", modalities_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos.", :class => 'btn btn-default' %>
    </div>
    
  <% end %>

</fieldset>