<h1>Modalidades</h1>
<%= link_to 'Nova Modalidade', new_modality_path %>
<br>
<table width="100%">
  <thead>
    <tr>
      <th style="text-align: left">Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if !@modalities.empty? %>
      <% @modalities.each do |modality| %>
        <tr>
          <td><%= modality.name %></td>
          <td>
            <%= link_to(modality_path(modality), :class => "link-icon", :title => "Visualizar", :alt => "Visualizar") do %>
                 Visualizar
            <% end %> |
            <%= link_to(edit_modality_path(modality), :class => "link-icon", :title => "Alterar") do %>
               Alterar
              <% end %> |
            <%= link_to(modality_path(modality), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este registro?")}", :class => "link-icon", :title => "Remover" ) do %>
              Apagar
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
    
    <% end %>
  </tbody>
</table>