<script type="text/javascript">
    $(function() {

 // Below is the name of the textfield that will be autocomplete    
    $('#select_student').autocomplete({
 // This shows the min length of charcters that must be typed before the autocomplete looks for a match.
            minLength: 3,
 // This is the source of the auocomplete suggestions. In this case a list of names from the people controller, in JSON format.
            source: '<%= students_path(:json) %>',
  // This updates the textfield when you move the updown the suggestions list, with your keyboard. 
  // In our case it will reflect the same value that you see in the suggestions which is the person.given_name.
            select: function(event, ui) {
                $('#select_student').val(ui.item.name);
                return false;
            },
 // Once a value in the drop down list is selected, do the following:
            select: function(event, ui) {
 // place the person.given_name value into the textfield called 'select_origin'...
                $('#select_student').val(ui.item.name);
 // and place the person.id into the hidden textfield called 'link_origin_id'. 
        $('#enrollment_student_id').val(ui.item.id);
                return false;
            }
        })
 // The below code is straight from the jQuery example. It formats what data is displayed in the dropdown box, and can be customized.
        .data( "uiAutocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
 // For now which just want to show the person.given_name in the list.
                .append( "<a>" + item.name + "</a>" )
                .appendTo( ul );
        };
    });
</script>

<br>

<fieldset>
  <% if @enrollment.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @enrollment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
  <%= form_for(@enrollment, :html => { :class => :form }) do |f| %>
  <div class="row">
    <div class="form-group col-xs-4 col-sm-5 col-md-3">
      <!-- Place the following text fields in your form, the names are not important. What is important is that they match the 
      names in your javascript above -->
      <!-- This is the textfield that will autocomplete. What is displayed here is for the user to see but the data will not go anywhere -->
      <%= f.label 'Estudante'%>
      <%= f.text_field :student_id, :value => (@enrollment.student.blank? ? "" : @enrollment.student.name ), :id => "select_student", :class => "form-control", :maxlength => "40" %>
      <!-- This is the hidden textfield that will be given the Persons ID based on who is selected. This value will be sent as a parameter -->
      <%= hidden_field(:enrollment, :student_id) %>
      
    <!-- # => <input type="hidden" id="student_id" name="student[id]" value="#{@student.id}" /> -->
    
      <!-- <input id="link_student_id" name="link[student_id]" type="hidden"/> -->
      <!-- end of notes -->
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-xs-4 col-sm-5 col-md-3">
      <%= f.label 'Modalidade'%>
      <%= select_tag 'modality_id', options_for_select(Modality.all.collect {|p| [ p.name, p.id ] }, disabled: ""), {class: 'form-control'}%>
      <%#= select("enrollment", "modality_id", Modality.all.collect {|p| [ p.name, p.id ] }, {include_blank: '-- Selecione a modalidade --'}, {class: "form-control", id:"idModality"}) %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-xs-4 col-sm-5 col-md-3">
      <%= f.label 'Dia de Vencimento'%>
      <%= select_tag 'enrollment[expiration_day]', options_for_select((1..28).to_a, disabled: ""), {class: 'form-control input-mini'}%>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-xs-4 col-sm-5 col-md-3">
      <%= f.label 'Periodicidade'%>
      <%= select("enrollment", "periodicity_id", Periodicity.all.collect {|p| [ p.description, p.id ] }, {}, {class: "form-control input-medium"}) %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-xs-4 col-sm-5 col-md-3">
      <%= f.label :start_date, t("activerecord.attributes.enrollment.start_date", :date => "Data de Início"), :class => 'control-label' %>
      <%= f.text_field :start_date, :class => 'form-control input-medium', :onkeyup => "maskIt(this,event,'##/##/####')", :value => l(Date.today, :format => :date), :maxlength => "10" %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-xs-4 col-sm-5 col-md-3">
      <%= f.label 'Taxa de Matrícula'%>
      <%= f.text_field :registration_fee, :class => "form-control", :onkeyup => "toUppercase(this);", :maxlength => "10", :onkeyup => "somenteNumero(this, event), formatarValor(this)", :value => "0,00" %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-xs-4 col-sm-5 col-md-3">
      <%= f.label 'Valor'%>
      <%= f.text_field :value, :class => "form-control", :onkeyup => "toUppercase(this);", :maxlength => "10", :onkeyup => "somenteNumero(this, event), formatarValor(this)", :value => "0,00" %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-xs-4 col-sm-5 col-md-3">
      <%= f.label 'Desconto'%>
      <%= f.text_field :discount, :class => "form-control", :onkeyup => "toUppercase(this);", :maxlength => "10", :onkeyup => "somenteNumero(this, event), formatarValor(this)", :value => "0,00" %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-xs-4 col-sm-5 col-md-3">
      <%= f.label 'Observação'%>
      <%= f.text_area :note, :rows => "5", :cols => "45", :class => "form-control"   %>
    </div>
  </div>
  
  <br>
  <div>
    <% if @enrollment.id.nil? %>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <% else %>
    <button class="btn btn-info" type="submit">Alterar</button>
    <% end %>
    <%= link_to "Cancelar", enrollments_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos.", :class => 'btn btn-default' %>
  </div>
  
<% end %>
  
