<h1>Escolher turma</h1>

<%= form_tag(add_student_enrollment_path, :method => 'patch', :html => { :class => :form, :id => "form" }) do |f| -%>
  <% if @gym_classes.empty? %>
    <%= link_to 'Cadastrar Turma', new_gym_class_path %><br />
    <%= link_to 'Matrículas', enrollments_path %>
  <% else %>
    <table>
      <thead>
        <tr>
          <th></th>
          <th style="text-align: left">Turma</th>
          <th style="text-align: left">Professor</th>
          <th style="text-align: center">Alunos matriculados</th>
          <th style="text-align: center">Capacidade</th>
        </tr>
      </thead>
      <tbody>
        <% @gym_classes.each do |gym_class| %>
          <tr>
            <td>
            <%= radio_button_tag "gym_class_id", gym_class.id %>
            <%#= check_box_tag("[gym_class_ids]", gym_class.id, false) %>
            </td>
            <td style="text-align: left"><%= gym_class.schedule %></td>
            <td>
              <% gym_class.instructors.each do |instructor| %>
                 <%= instructor.blank? ? "Não informado" : instructor.name %> <br>
              <% end %>
            <td style="text-align: center"><%= gym_class.students.size %></td>
            <td style="text-align: center"><%= gym_class.capacity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <button class="btn btn-primary" type="submit" name="botao_excluir">Selecionar turma</button>  
  <% end %>
<% end %>