<%= render layout: "form" do |f| %>
<div class="header">
  Matrículas
  <hr class="hr-header">
  <div class="subheader">
    Cadastrar > Selecionar turma
  </div>
</div>

  <div class="row">
    <div class="form-group col-xs-3 col-sm-8 col-md-3">
      <strong>Modalidade: </strong> <%= @modality.name %>
    </div>
  </div>
  <% if @gym_classes.empty? %>
    <%= link_to 'Cadastrar Turma', new_gym_class_path %><br />
    <%= link_to 'Matrículas', enrollments_path %>
  <% else %>
  <% @gym_classes.each do |gym_class| %>
    <div class="row">
      <div class="form-group col-xs-3 col-sm-8 col-md-3">
        <div class="radio">
          <%= f.label 'Turma: '+gym_class.schedule %>
          <%= radio_button_tag "gym_class_id", gym_class.id, class: 'form-control' %> oi
        </div>
      </div>
      <div class="form-group col-xs-3 col-sm-8 col-md-3">
        <%= f.label 'Professor(es)' %><br>
          <% gym_class.instructors.each do |instructor| %>
             - <%= instructor.blank? ? "Não informado" : instructor.name %> <br>
          <% end %>
      </div>
      <div class="form-group col-xs-3 col-sm-8 col-md-2">
          Alunos matriculados: <%= gym_class.students.size %>/<%= gym_class.capacity %>
      </div>
    </div>
  <% end %>
  
    <br>
    <%= link_to "<< Voltar", edit_enrollment_path(@enrollment), :class => 'btn btn-default' %>
    <button class="btn btn-primary" type="submit" name="botao_selecionar">Selecionar turma</button>
    <%= link_to "Cancelar", enrollments_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos.", :class => 'btn btn-default' %>  
  <% end %>

<% end %>
