<h1>Matrículas</h1>

<table width="100%">
	<thead>
		<tr>
			<th style="text-align: right">Matrícula</th>
			<th style="text-align: center">Data de Início</th>
			<th>Descrição</th>
			<th style="text-align: right">Valor</th>
			<th style="text-align: right">Taxa de Inscrição</th>
			<th style="text-align: right">Desconto</th>
			<th style="text-align: center">Modalidade</th>
			<th style="text-align: center">Periodicidade</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% if !@enrollments.empty? %>
			<% @enrollments.each do |enrollment| %>
				<tr>
					<td style="text-align: right"><%= enrollment.code %></td>
					<td style="text-align: center"><%= enrollment.start_date %></td>
					<td><%= enrollment.note %></td>
					<td style="text-align: right"><%= enrollment.value %></td>
					<td style="text-align: right"><%= enrollment.registration_fee.blank? ? "-" : enrollment.registration_fee %></td>
					<td style="text-align: right"><%= enrollment.discount.blank? ? "-" : enrollment.discount %></td>
					<td style="text-align: center"><%= enrollment.modality.name %></td>
					<td style="text-align: center"><%= enrollment.periodicity.description %></td>
					<td>
						<% if !enrollment.expired_payment.empty? %>
  						<table>
  						  <caption>Parcelas vencidas</caption>
  							<% enrollment.expired_payment.each do |payment| %>
  								<tr>
  									<td><%= payment.expiration_date %></td>
  									<td><%= payment.paid %></td>
  									<td><%= payment.individual.name %></td>
  								</tr>
  							<% end %>
  						</table>
						<% end %>
					</td>	
				</tr>
			<% end %>
		<% else %>
			<tr>Não há vencimentos até esta data.</tr>
		<% end %>		
	</tbody>
</table>

<h1>Vencimentos</h1>