<h1>Matrículas</h1>

<%= search_form_for @search do |f| %>
  <%= f.label "Matrícula:" %>
  <%= f.text_field :student_registration_code_code_cont %>
  <%= f.label "Modalidade:" %>
  <%= f.text_field :modality_name_cont %>
  <%= f.label "Alunos Ativos:" %>
 
  <%=  f.select :active_eq, options_for_select([false, true]), 
  include_blank: true %>
  <%= f.submit %>
<% end %>


<br />
<%= link_to 'Fazer matrícula', new_enrollment_path %>
<table width="100%">
	<thead>
		<tr>
		  <th style="text-align: right">Matrícula</th>
		  <th style="text-align: left">Nome </th>
			<th style="text-align: center">Data de Início</th>
			<th style="text-align: center">Dia do Vencimento</th>
			<th style="text-align: right">Valor</th>
			<th style="text-align: right">Taxa de Inscrição</th>
			<th style="text-align: right">Desconto</th>
			<th style="text-align: center">Modalidade</th>
			<th style="text-align: center">Periodicidade</th>
      <th style="text-align: center">Ativo</th>
			<th style="text-align: left">Situação</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% if !@enrollments.empty? %>
			<% @enrollments.each do |enrollment| %>
				<tr>
				  <td style="text-align: right" rowspan="2"><%= link_to enrollment.student.registration_code.code, enrollment_path(enrollment) %></td>
				  <td style="text-align: left"><%= enrollment.student.name %></td>
					<td style="text-align: center"><%= enrollment.start_date.blank? ? "-" : l(enrollment.start_date, :format => :sample) %></td>
					<td style="text-align: center"><%= enrollment.expiration_day %></td>
					<td style="text-align: right"><%= enrollment.value %></td>
					<td style="text-align: right"><%= enrollment.registration_fee.blank? ? "-" : enrollment.registration_fee %></td>
					<td style="text-align: right"><%= enrollment.discount.blank? ? "-" : enrollment.discount %></td>
					<td style="text-align: center"><%= enrollment.modality.name %></td>
					<td style="text-align: center"><%= enrollment.periodicity.description if !enrollment.periodicity.nil? %></td>
					<td style="text-align: center"> <%= enrollment.active? ? "SIM" : "NÃO" %> </td>
					<td>
					  <% payment = enrollment.expired? %>
					  <%= link_to "Ok", payment_path(payment) if !payment.blank? %>
					  <% if payment.blank? %>
					   <% if enrollment.start_date.month == Date.today.month %>
					     <%= "Aguardando pagamento" %> 
				     <% elsif enrollment.expiration_day < Date.today.mday %>
				      <%= "Vencida" %>
				      <% else %>
				        <%= "Aguardando pagamento" %>
              <% end %>
            <% end %>
					</td>
					<td>
					  <%= link_to(enrollment_path(enrollment), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este imóvel?")}", :class => "link-icon", :title => "Remover" ) do %>
              Apagar
            <% end %>
					</td>	
				</tr>
				<tr><td colspan="9"><strong>Observação: </strong><%= enrollment.note.blank? ? "Não informado." : enrollment.note %></td></tr>
			<% end %>
		<% else %>
			<tr>Não há vencimentos até esta data.</tr>
		<% end %>		
	</tbody>
</table>

