<script type="text/javascript">
    $(function() {
    $('#select_student').autocomplete({
            minLength: 3,
            source: '<%= students_path(:json) %>',
            focus: function(event, ui) {
                $('#select_student').val(ui.item.name);
                return false;
            },
            select: function(event, ui) {
                $('#select_student').val(ui.item.name);
        $('#workout_sheet_student_id').val(ui.item.id);
                return false;
            }
        })
        .data( "uiAutocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.name + "</a>" )
                .appendTo( ul );
        };
    });
</script>

<br>

<fieldset>
  <% if @workout_sheet.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @workout_sheet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
  <%= nested_form_for([@workout_sheet], :html => { :class => :form }) do |f| -%>
  
    <br>
    <%= f.label 'Estudante', :class => "control-label" %>
    <%= f.text_field :student_id, :value => (@workout_sheet.student.blank? ? "" : @workout_sheet.student.name ), :id => "select_student", :maxlength => "40", :disabled => @disabled.nil? ? false : true %>
    <%= hidden_field(:workout_sheet, :student_id) %>
    
    <br>
    <%= f.label 'Professor', :class => "control-label" %>
    <%= select("workout_sheet", "instructor_id", (@instructors.nil? ? Instructor.all : @instructors).collect {|p| [ p.name, p.id ] }, {include_blank: '-- Selecione o instrutor --'}) %>
    
    <br>
    <%= f.label 'Objetivo', :class => "control-label" %>
    <%= select("workout_sheet", "training_goal_id", TrainingGoal.all.collect {|t| [ t.denomination, t.id ] }, {include_blank: '-- Selecione o objetivo --'}) %>
    
    
    
  
    <br>
    <br>
    <div>
      <% if @workout_sheet.id.nil? %>
      <%= f.submit 'Alterar', :name => 'action_button', :value => "Próximo >>"%>
      <% else %>
      <%= f.submit 'Alterar', :name => 'action_button', :value => "Alterar"%>
      <% end %>
      ou 
      <%= link_to "Cancelar", workout_sheets_path, data: { confirm: 'Deseja cancelar a operação? Todos os dados serão perdidos.'} %>
    </div>
    
  <% end %>
</fieldset>
