<h1>Ficha de Treino</h1>

<br />
<table>
  <tbody>
    <tr>
      <td><strong>Aluno:</strong> <%= @workout_sheet.student.registration_code.code + " - " + @workout_sheet.student.name %></td>
    </tr>
    <tr>
      <td><strong>Data de vencimento:</strong> <%= @workout_sheet.expiration_date.blank? ? "" : l(@workout_sheet.expiration_date, :format => :sample) %></td>
    </tr>
    <tr>
      <td><strong>Instrutor:</strong> <%= @workout_sheet.instructor.name %></td>
    </tr>
    <tr>
      <td><strong>Objetivo:</strong> <%= @workout_sheet.training_goal.blank? ? "Não especificado" : @workout_sheet.training_goal.denomination %></td>
    </tr>
    <tr>
      <td><strong>Treino:</strong><br>
      <% if !@workout_sheet.trainings.empty? %>
          <% @workout_sheet.trainings.each_with_index do |training, i| %>
            <%= i+1 %> - 
            <%= link_to(training_path(training), :class => "link-icon", :title => "Visualizar", :alt => "Visualizar") do %>
                <%= training.training_type %>
            <% end %> |
             <%= link_to 'Especificar exercícios', specify_exercises_training_path(training) %> |
             <%= link_to 'Alterar', edit_training_path(training) %> |
             <%= link_to 'Remover', training_path(training), :method => :delete %>
            <br>
          <% end %>
        
      <% else %>
        Sem treinos cadastrados.
      <% end %>
      <br>
      <%= link_to 'Cadastrar treino', create_training_workout_sheet_path(@workout_sheet) %>
      </td>
    </tr>
    
  </tbody>
</table>
<br />

<div class="form-actions-white">
  <%= link_to "Voltar", workout_sheets_path, :class => 'btn'  %>
  <%= link_to "Alterar", edit_workout_sheet_path(@workout_sheet), :class => 'btn btn-info' %>
  <%= link_to "Remover", workout_sheet_path(@workout_sheet), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover esse corretor ?")}", :class => 'btn' %>
</div>
