<div class="row">
  <div class="form-group col-xs-3 col-sm-8 col-md-3">
    <div class="radio">
      <%= 'Turma: ' %>
      <%= radio_button_tag "enrollment[gym_class_id]", gym_class.id, @enrollment.nil? ? false : (@enrollment.gym_class.id==gym_class.id ? true : false) %>
    </div>
  </div>
  <div class="form-group col-xs-3 col-sm-8 col-md-3">
    'Professor(es)'<br>
      <% gym_class.instructors.each do |instructor| %>
         - <%= instructor.blank? ? "Não informado" : instructor.name %> <br>
      <% end %>
  </div>
  <div class="form-group col-xs-3 col-sm-8 col-md-2">
      Alunos matriculados: <%= gym_class.students.size %>/<%= gym_class.capacity %>
  </div>
</div>