<% title " - Turmas" %>
<div class="header">
  Turmas
  <hr class="hr-header">
  <div class="subheader">
    Detalhar
  </div>
</div>
<table class="table table-40 table-bordered table-condensed table-striped">
  <tbody>
    <tr>
      <td><strong>Modalidade:</strong></td>
      <td><%= @gym_class.modality.name %></td>
    </tr>
    <tr>
      <td><strong>Dias:</strong></td>
      <td>
      <% if !@gym_class.schedules.blank? %>
        <% @gym_class.schedules.each do |schedule| %>
          <%= Date::DAYNAMES[schedule.week_day] %> &nbsp; 
        <%end%>
      <%end%>                    
      </td>
    </tr>
    <tr>
      <td><strong> Horário: </strong></td>
      <td>
        <% if !@gym_class.schedules.blank? %>
          <%= @gym_class.schedules.first.start_time.strftime("%R") %> -          
          <%= @gym_class.schedules.first.end_time.strftime("%R") %>
        <% end %> 
      </td>
    </tr>
    <tr>
      <td><strong>Professor:</strong></td>
      <td>
        <% @gym_class.instructors.each do |instructor| %>
           <%= instructor.blank? ? "Não informado" : instructor.name %> <br>
        <% end %>
    </tr>
    <tr>
      <td><strong>Alunos matriculados:</strong></td>
      <td class="text-left"><%= @gym_class.students.size %></td>
    </tr>
    <tr>
      <td><strong>Capacidade:</strong></td>
      <td><%= @gym_class.capacity %></td>
    </tr>
  </tbody>
</table>

<br>
<div>
  <%= link_to "Voltar", gym_classes_path, :class => 'btn btn-default'  %>
  <%= link_to "Alterar", edit_gym_class_path(@gym_class), :class => 'btn btn-info' %>
  <%= link_to "Remover", gym_class_path(@gym_class), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este registro ?")}", :class => 'btn btn-danger' %>
</div>

<br>
<table>
  <tr>
    <td>
      <strong>
        - <%= link_to "Frequência", student_attendance_gym_class_path if !@gym_class.students.empty? %> <%= @gym_class.students.empty? ? "Frequência" : "" %> 
      </strong>
    </td>
  </tr>
  <tr>
    <td><strong>- Outra</strong></td>
  </tr>
</table>