<h1>Frequência</h1>
<div>
  Dias corridos desde o início das aulas: <strong><%= @gym_class.calendar_days %></strong>
</div>

<br>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Código</th>
      <th>Aluno</th>
      <th style="text-align: center;">Presenças</th>
    </tr>
  </thead>
  <tbody>
    <% @gym_class.students.each_with_index do |student, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= student.code %></td>
        <td><%= student.name %></td>
        <td style="text-align: center;"><%= student.attendance(@gym_class.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= link_to "Voltar", gym_class_path(@gym_class), :class => 'btn btn-default'  %>
</div>
