<!DOCTYPE html>
<html>
<head>
  <title>SystemGym</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.10.4.custom.min.js' %>
  <%= javascript_include_tag 'jquery', 'jquery-ui-1.10.4.custom.js' %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.10.4.custom' %>
  <%= csrf_meta_tags %>
  <!-- <link href="css/bootstrap.css" rel="stylesheet" media="screen"> -->
  <!-- <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> -->
  
</head>
<body>
  
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= link_to "Home", root_path %> |
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<br><br>

<% flash.each do |name, msg| %>
  <div class="alert alert-success">
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>

<br><br>

<%= yield %>

</body>
</html>
