<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RaiseIT<%= yield(:title) %></title>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag 'jquery.min', 'jquery-ui-1.10.4.custom.min.js' %>
	<%= javascript_include_tag 'jquery', 'jquery-ui-1.10.4.custom.js' %>
	<%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.10.4.custom' %>
	<%= csrf_meta_tags %>
</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "RaiseIT <small>beta</small>" .html_safe, root_path, :class=>"navbar-brand"%>
            </div>
            <!-- /.navbar-header -->

			<% if user_signed_in? %>
            <ul class="nav navbar-top-links navbar-right">
				<%= current_user.email %>
				<%= link_to 'Logout', destroy_user_session_path , :method=>:delete %>
				<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <!-- /.dropdown-usuario -->
                    <ul class="dropdown-menu dropdown-user">	
	                    <li>
	                    	<%= link_to '<i class="fa fa-user fa-fw"></i> Editar conta'.html_safe, edit_user_registration_path %>
	                    </li>
	                    <li class="divider"></li>
	                    <li>
	                    	<%= link_to destroy_user_session_path , :method=>:delete do %>
							  <i class="fa fa-sign-out fa-fw"></i> Logout
							<% end %>
	                    </li>
                    </ul>	                    
                </li>
                <!-- /.dropdown -->
                <!-- /.dropdown-alertas -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
            </ul>
            <%end%>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Buscar...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                    	<%= link_to '<i class="fa fa-chevron-circle-right fa-fw"></i> Pagamentos' .html_safe, enrollments_path %>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-chevron-circle-right fa-fw arrowMenu"></i> Alunos</a>
                        <ul class="nav nav-second-level">
                            <li>
                            	<%= link_to 'Novo Aluno', new_student_path %>
                            </li>
                            <li>
                                <%= link_to 'Listar Alunos', students_path %>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-chevron-circle-right fa-fw arrowMenu"></i> Professores</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <%= link_to 'Novo Professor', new_instructor_path %>
                            </li>
                            <li>
                                <%= link_to 'Listar Professores', instructors_path %>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-chevron-circle-right fa-fw arrowMenu"></i> Funcionários</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <%= link_to 'Novo Funcionário', new_employee_path %>
                            </li>
                            <li>
                                <%= link_to 'Listar Funcionários', employees_path %>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-chevron-circle-right fa-fw arrowMenu"></i> Modalidades</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <%= link_to 'Nova Modalidade', new_modality_path %>
                            </li>
                            <li>
                                <%= link_to 'Listar Modalidades', modalities_path %>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-chevron-circle-right fa-fw arrowMenu"></i> Turmas</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <%= link_to 'Nova Turma', new_class_gym_path %>
                            </li>
                            <li>
                                <%= link_to 'Listar Turmas', class_gyms_path %>
                            </li>
                        </ul>
                        <li>
                        	<%= link_to '<i class="fa fa-chevron-circle-right fa-fw arrowMenu"></i> Matrículas' .html_safe, enrollments_path %></li>
                    	</li>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-chevron-circle-right fa-fw arrowMenu"></i> Ficha de Treino</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <%= link_to 'Elaborar Ficha de Treino', new_workout_sheet_path %>
                            </li>
                            <li>
                                <%= link_to 'Listar Fichas de Treino', workout_sheets_path %>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-chevron-circle-right fa-fw arrowMenu"></i> Registros de entrada</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <%= link_to 'Novo Registro', new_entry_record_path %>
                            </li>
                            <li>
                                <%= link_to 'Listar Registros', entry_records_path %>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper" class="fundo">
        	<div class="row">
                <div class="col-lg-12">
                	<br>
					<% flash.each do |name, msg| %>
					  <div class="alert alert-success">
					  	<button type="button" class="close" data-dismiss="alert">×</button>
					    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
					  </div>
					<% end %>
					
					<% if user_signed_in? %>
					<% else %>
					  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
					  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
					<% end %>
					
					<%= yield %>
                </div>
                <!-- /.col-lg-12 -->
            </div>
           
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
